<header>
  <div class="ui centered blue huge header bigHeader">Todo</div>
  <div class="ui fluid huge action green input"  >
    <input type="text" placeholder="What needs to be done?"
           autofocus=""
           [(ngModel)]="newTodo.title"
           id="title"
           name="title"
           required=""
           minlength="3"
           (keyup.enter)="addTodo()"
           #title="ngModel">
    <button class="ui icon button"
            (click)="addTodo()">
      <i class="large plus icon"></i>
    </button>
  </div>

  <div *ngIf="title.invalid && title.errors.minlength">
    <div class="ui error message" >
      <div class="header">
        Name must be at least 3 characters long.
      </div>
    </div>
  </div>

</header>
