<i class="large circle outline middle aligned icon blue"
   (click)="toggleTodoComplete(todo)"
   [ngClass]="{ 'check': todo.complete, '': !todo.complete}">

</i>
<div class="ui content">
  <a class="ui header"
     [ngClass]="{ 'itemDone': todo.complete, '': !todo.complete}"
     [ngStyle]="todo.complete && {'text-decoration': 'line-through'}">
    {{todo.title}}
  </a>
</div>
<i class="trash alternate icon outline"
   (mouseover)="hover=true" (mouseleave)="hover=false"
   [ngClass]="{ 'red': hover, '': !hover  }"
   (click)="removeTodo(todo)">

</i>
