/* You can add global styles to this file, and also import other style files */
.ui.list.listItem:first-child {
  margin-top: 1em;
}
.ui.huge.header.bigHeader {
  font-size: 4em;
  margin-top: 0.3em;
}
.ui.list > .item a.header.itemDone {
  color: #21BA45 !important;
}

.ui.list > .item > i.icon.itemNotDone {
  color: #4183C4 !important;
}

.ui.list > .item > i.icon.itemDone {
  color: #21BA45 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
